{% extends 'base.html' %}

{% block content %}
	
	<div class="container">
  	<h1>About us</h1>
    <p>This page is created for the purpose of completing the final project for IDS 594 class from University of Illinois at Chicago. 
      The page is meant to simply take a user input and output a number from a Machine Learning algorithm, created tgrough scikit-learn.
      <br>
      <br>
      <ul>The team members:
      <li><a href="https://www.linkedin.com/in/joseline-luvena-tanujaya-22a95210b">Joseline Tanujaya</a></li>
    <li><a href="https://www.linkedin.com/in/lisa-lin-23b13b31">Qin Dan Lin </a></li></ul></p>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
    </div>
  </body>

  {% endblock %}
